.GameCard {
  box-shadow: 3px 3px 5px #63442d, -3px -3px 5px #ede7d9;
  font-weight: 500;
  border-radius: .25rem;
}

.GameCard:nth-of-type(2n)>div>div>div {
  flex-direction: row-reverse;
}

.BiggerText {
  font-size: 1.2em;
}
