.MainHeading {
  font-size: 1.4rem;
  background-color: #63442d;
  color: #edebe9;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border-radius: 0.25rem;
  text-shadow: 3px 3px 7px #63442d,  -3px 3px 7px #ede7d9;
}

.MainHeading span {
  font-weight: 700;
  background-color: #edebe9;
  color: #63442d;
  display: block;
}
