.NavBar {
  padding: 5px;
}

.Bold {
  font-weight: 600;
}

.Logo {
  rotate: 45deg;
  margin: auto;
}

.Title {
  font-family: "Archivo Black", sans-serif;
  font-weight: 900;
  width: 18ch;
  display: flex;
}

.SplitLevel {
  width: 12ch;
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 1rem;
}

.SplitLevel > span {
  width: 100%;
}

.SplitLevel > span:last-of-type {
  text-align: right;
  margin-top: -.5ch;
}

.NavLink {
  padding: .5em;
}

.Active {
  color: #1b1b1b;
  text-shadow: 0 3px 10px #cb4f59;
}

.ToggleContainer {
  flex-grow: 1;
}

.Toggle {
  max-height: 2.5rem;
}
